<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Cocktails</title>
</head>
<body>
    <h1>All Cocktails</h1>

    <ul>
        {% for cocktail in sorted_cocktails %}
            <li>
                {% if cocktail in cocktails_you_can_make %}
                    <strong><a href="{{ url_for('cocktail_profile', cocktail_name=cocktail['name']) }}">{{ cocktail['name'] }}</a></strong>
                    - You can make this cocktail
                {% else %}
                    <a href="{{ url_for('cocktail_profile', cocktail_name=cocktail['name']) }}">{{ cocktail['name'] }}</a>
                    - Missing {{ cocktail['missing_ingredients']|length }} ingredients: 
                    {% for ingredient in cocktail['missing_ingredients'] %}
                        {{ ingredient }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Flavor Profiles</h2>
    <ul>
        {% for flavor in sorted_flavor_profiles %}
            <li><a href="{{ url_for('flavor_profile', flavor=flavor) }}">{{ flavor }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}">Back to Ingredients List</a>
</body>
</html>