
{% extends "base.html" %}

{% block title %}
Browse Cocktails - Bartender's Caddie
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="my-4 text-center">All Cocktails</h3> <!-- Updated to match index.html styles -->

    <ul class="list-group mb-4">
        {% for cocktail in sorted_cocktails %}
            <li class="list-group-item">
                {% if cocktail in cocktails_you_can_make %}
                    <strong>
                        <a href="{{ url_for('cocktail_profile', cocktail_name=cocktail['name']) }}">{{ cocktail['name'] }}</a>
                    </strong>
                    <span class="text-success">(You can make this cocktail)</span>
                {% else %}
                    <a href="{{ url_for('cocktail_profile', cocktail_name=cocktail['name']) }}">{{ cocktail['name'] }}</a>
                    <span class="text-py">- You need these {{ cocktail['missing_ingredients']|length }} ingredients:</span>
                    <small>
                        {% for ingredient in cocktail['missing_ingredients'] %}
                            {{ ingredient }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <p class="text-center">
        <a href="{{ url_for('index') }}" class="text-primary">Back to Ingredients List</a> <!-- Changed to text link for consistency -->
    </p>
</div>
{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>