<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bartender's Caddie Beta</title>
    <script>
        function updateIngredients() {
            document.getElementById('update-ingredients-form').submit();
        }

        function filterCocktails(ingredient) {
            document.getElementById('filter-ingredient').value = ingredient;
            document.getElementById('filter-form').submit();
        }

        function filterByFlavor(flavor) {
            document.getElementById('filter-flavor-profile').value = flavor;
            document.getElementById('filter-form').submit();
        }

        function clearFilter() {
            document.getElementById('filter-ingredient').value = '';
            document.getElementById('filter-flavor-profile').value = '';
            document.getElementById('filter-form').submit();
        }

        function addIngredientToAvailableList(checkbox) {
            const form = document.getElementById('update-ingredients-form');
            if (checkbox.checked) {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'available_ingredients';
                input.value = checkbox.value;
                form.appendChild(input);
            } else {
                const inputs = form.querySelectorAll(`input[name="available_ingredients"][value="${checkbox.value}"]`);
                inputs.forEach(input => input.remove());
            }
            updateIngredients();
        }
    </script>
</head>
<body>
    <h1>Bartender's Caddie Beta</h1>

    <h2>Cocktails you can make{% if filter_ingredient %} with {{ filter_ingredient }}{% endif %}{% if filter_flavor_profile %} that are {{ filter_flavor_profile }}{% endif %}:</h2>
    {% if suggestions %}
        <ul>
            {% for cocktail, ingredients in suggestions %}
                <li>{{ cocktail }} ({{ ingredients | join(', ') }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Add some more ingredients to get a list of cocktails</p>
    {% endif %}

    {% if filter_ingredient or filter_flavor_profile %}
        <button onclick="clearFilter()">Clear Filter</button>
    {% endif %}

    <h2>Cocktails missing 1 ingredient{% if filter_ingredient %} with {{ filter_ingredient }}{% endif %}{% if filter_flavor_profile %} that are {{ filter_flavor_profile }}{% endif %}:</h2>
    {% if almost_suggestions %}
        {% set sorted_almost_suggestions = almost_suggestions|sort(attribute='1') %}
        <ul>
            {% for cocktail, missing in sorted_almost_suggestions %}
                {% if missing|length == 1 %}
                    <li>{{ cocktail }} (missing: {{ missing | join(', ') }})</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Add some more ingredients for cocktail suggestions</p>
    {% endif %}

    <h2>Ingredients List:</h2>
    <ul>
        {% for ingredient in sorted_ingredients %}
            <li>
                <input type="checkbox" name="ingredients_list" value="{{ ingredient }}" 
                       {% if all_ingredients[ingredient] == 'available' %}checked{% endif %} 
                       onchange="addIngredientToAvailableList(this)">
                <span onclick="filterCocktails('{{ ingredient }}')">{{ ingredient }}</span>
            </li>
        {% endfor %}
    </ul>

    <form method="post" id="update-ingredients-form">
        {% if available_ingredients %}
            <h2>Available Ingredients:</h2>
            <ul>
                {% for ingredient in available_ingredients %}
                    <li>
                        <input type="checkbox" name="available_ingredients" value="{{ ingredient }}" checked onchange="addIngredientToAvailableList(this)">
                        <span onclick="filterCocktails('{{ ingredient }}')">{{ ingredient }}</span> (<span onclick="filterCocktails('{{ ingredient }}')">{{ ingredient_cocktail_count[ingredient] }} cocktails</span>)
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Missing Ingredients:</h2>
        <ul>
            {% for ingredient in sorted_ingredients %}
                {% if all_ingredients[ingredient] == 'missing' %}
                    <li>
                        <span onclick="filterCocktails('{{ ingredient }}')">{{ ingredient }}</span> (<span onclick="filterCocktails('{{ ingredient }}')">{{ missing_ingredients[ingredient] }} additional cocktails</span>)
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </form>

    <form method="post" id="filter-form">
        <input type="hidden" name="filter_ingredient" id="filter-ingredient">
        <input type="hidden" name="filter_flavor_profile" id="filter-flavor-profile">
        {% for ingredient in available_ingredients %}
            <input type="hidden" name="available_ingredients" value="{{ ingredient }}">
        {% endfor %}
    </form>

    <h2>Choose your preferred flavor profile:</h2>
    <ul>
        {% for flavor in flavor_profiles %}
            <li><span onclick="filterByFlavor('{{ flavor }}')">{{ flavor }}</span></li>
        {% endfor %}
    </ul>
</body>
</html>